<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <%= nav_link "Calendar", root_path %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= nav_link "Account", edit_user_registration_path, "force-reload" => true %>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <%= nav_link "Sign in", new_user_session_path %>
        <%= nav_link "Sign up", new_user_registration_path %>
      </ul>
    <% end %>
  </div>
</nav>
